#app{
    width: 100%;
    height: 1000px;
    padding: 12px 14px 0;
    background-color: #F2F2F2;
}

.store{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 119px;
    background-color:#FFFFFF;
    border-radius: 12px;

    padding-right: 45px;
    padding-left: 36px;
}
.store-info{
    width: 100%;
    margin-top: 20px;
}
.store-info span:nth-child(1){
    color: #16161A;
    font-size: 16px;
    font-weight: 500;
}

.store-info span:nth-child(2){
    color: #F7B425;
    font-size: 13px;
    margin-left: 12px;
}
.store-info div span:nth-child(1){
    color: #919199;
    font-size: 12px;
}
.location{
    position: absolute;
    left: 12px;
    top: 20px;
    width: 16px;
    height: 16px;
}
.location img {
    width: 100%;
}

.store-phone{
    position: absolute;
    right: 14px;
    top: 64px;
    width: 24px;
    height: 24px;
}
.store-phone img {
    width: 100%;
}
.location-right{
    position: absolute;
    right: 14px;
    top: 23px;
    width: 16px;
    height: 16px;
}
.location-right img {
    width: 100%;
}

/*预约时间*/
.data-title{
    position: relative;
    margin-top: 30px;
    margin-left: 4px;
}
.data-title span:nth-child(1){
    color: #16161A;
    font-size: 15px;
    font-weight: 500;
}
.data-title span:nth-child(2){
    float: right;
    color: #919199;
    font-size: 13px;
    font-weight: 500;
    margin-right: 35px;
}
.data-title img {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 11px;
}

/*预约时间列表*/
.data-list{
    display: flex;
    margin-top: 12px;
    width: 1000px;
    height: 72px;
    background-color: #fff;
}
