<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/detail.css">
    <title>产品详情</title>
</head>
<body>
<div id="app" v-cloak>
    <header style="display: none">
        <div class="tips">
            <span class="tips-left fl">购买全家福拍摄卡可享第二份半价</span>
            <span class="tips-right fr">抢先参加</span>
        </div>
    </header>
    <div class="product-wrap">
        <img :src="detail.msg.P_ImgPath">
        <div class="product-content">
            <p class="product-name" v-text="detail.msg.P_Name"></p>
            <p class="product_desc">“给自己及家人温暖的记忆 ”</p>
            <div class="product-price">
                <span class="ori-price"><s>￥{{detail.msg.P_OriPrice}}</s></span><span class="ori-price-right">/套</span>
                <span class="price">￥{{ detail.msg.P_Price }}</span><span class="price-right">/套</span>
            </div>
        </div>
        <div class="product-service">
            <div>
                <div class="konglong">
                    <img src="./images/konglong.png" alt="">
                </div>
                <div class="konglongshou">
                    <img src="./images/konglongshou.png" alt="">
                </div>
                <ul>
                    <li>
                        <img src="./images/service-make.png" alt="">
                        <p class="service-name">化妆</p>
                        <p class="service-desc">1套造型</p>
                    </li>
                    <li>
                        <img src="./images/service-close.png" alt="">
                        <p class="service-name">服装</p>
                        <p class="service-desc">1套服装</p>
                    </li>
                    <li>
                        <img src="./images/service-camera.png" alt="">
                        <p class="service-name">拍摄</p>
                        <p class="service-desc">半身照</p>
                    </li>
                    <li>
                        <img src="./images/service-ps.png" alt="">
                        <p class="service-name">修图</p>
                        <p class="service-desc">1张精修底片</p>
                    </li>
                    <li>
                        <img src="./images/service-print.png" alt="">
                        <p class="service-name">冲印</p>
                        <p class="service-desc">1张6寸照</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="service-photo">
            <div class="service-title" ref="box">
                <div :class="selectShow ? 'service-title-selected' : ''" @click="selectModel()">展示</div>
                <div :class="!selectShow ? 'service-title-selected' : ''" @click='selectModel()'>服务说明</div>
            </div>
            <div class="service-intro">
                <div class="image-content" v-show="selectShow">
                    <img :src="item.path"
                         v-for='(item, index) in detail.msg.P_Photo'
                    >
                </div>
                <div class="image-intro-content" v-show="!selectShow">
                    <img :src="detail.msg.P_IntroPath"
                    >
                </div>
            </div>

        </div>
    </div>
    <div style="width: 100%; height: 150px;
    min-width: 320px;
    max-width: 640px;"></div>
    <div class="bottom-wrap">
        <div class="button-wrap">
            <div class="add-cart">加购物车</div>
            <div class="add-product" @click="addProduct">立即预约</div>
        </div>
    </div>
    <div class="van-overflow-hidden" v-show="service_card" style="display: none">
        <div class="service-card">
            <div class="service-product-title">
                <p class="product-name" v-text="detail.msg.P_Name"></p>
                <p class="product_desc">已选：九张-3人</p>
                <div class="card-close" @click="cardClose">
                    <img src="./images/close.png" alt="">
                </div>
            </div>
            <div class="service-card-content">
                <div class="service-card-product-type" v-if="detail.msg.P_SkuIsRequire">
                    <div class="service-card-product-title">
                        产品类型
                    </div>
                    <div class="service-card-product-value">
                        <span v-for='(item, index) in detail.msg.P_Sku' v-text="item.PS_Title"></span>
                    </div>
                </div>
                <div class="service-card-people-num">
                    <div class="people-num-title">
                        人数类型
                    </div>
                    <div class="service-card-product-value"  v-for='(item, key) in detail.msg.P_Sku'>
                        <span :class="service_card_value_selected ? 'service-card-product-value-selected' : '' "  @click="chooseItem" v-for="count in +item.PS_MaxPerson" v-if="count >= +item.PS_MinPerson">
                          {{ count }}人
                        </span>
                    </div>
                </div>
            </div>
            <div class="service-card-bottom">
                <div class="service-card-bottom-price">
                        <span>合计:</span>
                        <span>￥2599.00</span>
                </div>
                <div class="service-card-button">
                    确定
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" src="./js/common/vue.js"></script>
<script type="text/javascript" src="./js/detail.js"></script>
</html>